%heading{
    font-family: $font-display;
    font-weight: 300;
}
.heading-1{
    @extend %heading;
    font-size: 3rem;
}
.heading-3{
    @extend %heading;
    font-size:2rem;
}
.heading-4{
    @extend %heading;
    font-size:1.8rem;
}