.mb_small{
    margin-bottom: 2rem;
}
.mb_medium{
    margin-bottom: 4rem;
}
.mb_large{
    margin-bottom: 6rem;
}
.mt_small{
    margin-top: 2rem;
}
.mt_medium{
    margin-top: 4rem;
}
.mt_large{
    margin-top: 6rem;
}