*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  font-weight: 400; }

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0; }

#root {
  display: grid;
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  grid-template-rows: 6rem 100% min-content; }
  @media only screen and (max-width: 37.5em) {
    #root {
      grid-template-rows: repeat(3, min-content); } }

.heading-1, .heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300; }

.heading-1 {
  font-size: 3rem; }

.heading-3 {
  font-size: 2rem; }

.mb_small {
  margin-bottom: 2rem; }

.mb_medium {
  margin-bottom: 4rem; }

.mb_large {
  margin-bottom: 6rem; }

.mt_small {
  margin-top: 2rem; }

.mt_medium {
  margin-top: 4rem; }

.mt_large {
  margin-top: 6rem; }

.navigation {
  grid-column: full-start/full-end;
  background-color: #131921;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem; }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      flex-wrap: wrap;
      justify-content: center;
      padding: 1rem; } }

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-left: 1rem;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      margin-left: 0rem; } }
  .logo_btn {
    fill: #fff;
    font-size: 2.8rem;
    transition: all .2s; }
    .logo_btn:hover {
      fill: #ffd814; }
  .logo_title {
    color: #fff;
    cursor: pointer;
    transition: all .2s; }
    .logo_title:hover {
      color: #ffd814; }

.search {
  flex: 0 0 35%;
  display: flex;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .search {
      flex: 1; } }
  .search_input {
    border: none;
    background-color: #f4f2f2;
    border-radius: 10px;
    padding: 0.9rem 2rem;
    width: 95%;
    margin-right: -3.5rem;
    font-size: 1.6rem;
    transition: all .2s; }
    .search_input:focus {
      width: 100%;
      outline: none;
      background-color: #f0eeee; }
  .search_btn {
    border: none;
    background-color: #ffd814;
    border-radius: 10px;
    width: 3.5rem;
    height: 3.6rem; }
    .search_btn_logo {
      font-size: 2rem; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  color: #fff;
  font-size: 2.5rem; }
  .nav_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 5px;
    border: 1px solid transparent;
    position: relative;
    cursor: pointer; }
    .nav_item:hover {
      border: 1px solid #ccc; }
  .nav_notification {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0%;
    right: -30%;
    text-align: center;
    font-size: 1.6rem;
    background-color: #ff0000; }
  .nav_close_btn {
    display: none; }
  .nav:last-child {
    margin-right: 1rem; }

.menu_btn {
  cursor: pointer;
  display: none;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .menu_btn {
      display: inline; } }
  .menu_btn:hover {
    fill: #ffd814; }

.outer_modal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 1; }

.responsive_menu {
  visibility: visible; }

.category_menu {
  position: fixed;
  top: 0;
  left: -80vw;
  height: 100%;
  width: 80%;
  background-color: #232f3e;
  color: #fff;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  z-index: 2; }
  .category_menu_btn {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
    transition: all .2s; }
    .category_menu_btn:hover {
      color: #ccc; }
  .category_menu_item {
    cursor: pointer;
    padding: 2rem;
    width: 100%;
    text-align: center;
    transition: all .2s; }
    .category_menu_item:hover {
      background-color: #fff;
      color: #000; }

.responsive_category_menu {
  transform: translateX(80vw); }

.responsive_nav_menu {
  transform: translateX(-80vw); }

@media only screen and (max-width: 37.5em) {
  .nav {
    position: fixed;
    background-color: #232f3e;
    height: 100%;
    width: 80%;
    top: 0;
    right: -80vw;
    flex-direction: column;
    justify-content: center;
    transition: all .2s;
    z-index: 2; }
    .nav_item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 5px;
      border: none;
      position: relative;
      cursor: pointer; }
      .nav_item:hover {
        background-color: #fff;
        color: #000; }
    .nav_close_btn {
      display: inline;
      position: absolute;
      top: 2rem;
      right: 2rem; }
  .menu_btn {
    font-size: 2.8rem; } }

.userNav {
  position: fixed;
  top: 0;
  right: -80vw;
  height: 100%;
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  z-index: 2;
  transition: all .2s; }
  .userNav_nav {
    background-color: #232f3e;
    height: 8rem;
    color: #fff;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    font-size: 3rem; }
    .userNav_nav_close_btn {
      position: absolute;
      right: 2rem;
      top: 1rem;
      cursor: pointer; }
      .userNav_nav_close_btn:hover {
        color: #ccc; }
  .userNav_section {
    padding: 1rem;
    border-bottom: 5px solid #ccc; }
    .userNav_section_heading {
      color: #000;
      text-transform: uppercase; }
    .userNav_section_item {
      color: #000;
      cursor: pointer;
      margin: 1rem 0;
      transition: all .2s; }
      .userNav_section_item:hover {
        color: #999; }

.products {
  padding: 5rem;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.footer {
  grid-column: full-start / full-end;
  grid-row: 3/3;
  background-color: #131921;
  font-size: 1.8rem;
  padding: 6rem; }
  .footer_nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center; }
    .footer_nav_item {
      list-style: none; }
    .footer_nav_link {
      font-family: "Josefin Sans", sans-serif; }
      .footer_nav_link:visited, .footer_nav_link:link {
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        display: block;
        color: #fff;
        padding: 1.5rem;
        cursor: pointer;
        transition: all .2s; }
      .footer_nav_link:hover, .footer_nav_link:active {
        background-color: rgba(255, 255, 255, 0.05);
        transform: translateY(-3px); }

.product_card {
  box-shadow: 0 0 0.5rem #888;
  transition: all .2s;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  text-align: center; }
  .product_card_img {
    max-width: 300px;
    width: 100%; }
  .product_card:hover {
    transform: scale(1.05); }
  .product_card_details {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; }
    .product_card_details_reviews {
      display: flex;
      align-items: center;
      gap: 0.5rem; }
      .product_card_details_reviews_star {
        fill: #ffd814;
        width: 2rem;
        height: 2rem; }
    .product_card_details_title {
      color: #000;
      text-transform: uppercase; }

.btn {
  border: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  background-color: #ffd814;
  cursor: pointer;
  transition: all .2s;
  border-radius: 100px; }
  .btn:hover {
    background-color: #febd69;
    transform: translateY(2px); }
  .btn:active {
    background-color: #febd69;
    transform: translateY(5px); }

.btn-disabled {
  border: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  background-color: #ccc;
  cursor: pointer;
  border-radius: 100px; }

.disabled {
  fill: #ccc; }

.bold-text {
  font-weight: bold; }

.centerText {
  text-align: center; }

.inStock, .outOfStock {
  padding: 0rem 1rem;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.8rem; }

.inStock {
  background-color: green; }

.outOfStock {
  background-color: red; }

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px; }
  .spinner .path {
    stroke: #93bfec;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124; } }

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  max-height: 10rem;
  text-align: center;
  font-size: 1.8rem; }

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb; }

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff; }

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db; }

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb; }

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba; }

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb; }

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe; }

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca; }

.responsive-nav {
  height: 100%;
  width: 100%;
  background-color: red;
  z-index: 20;
  grid-column: full-start/full-end;
  position: relative; }

.steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #777; }
  .steps_step {
    font-size: 2rem;
    border-bottom: 3px solid #777; }
    .steps_step_active {
      color: #f08000;
      border-bottom: 3px solid #f08000; }

.product-screen {
  grid-column: center-start /  center-end;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
  grid-gap: 8rem; }
  .product-screen > * {
    cursor: pointer; }
  .product-screen_image {
    max-width: 500px;
    width: 100%;
    border: 1px solid #ccc; }
  .product-screen_info {
    height: 20rem;
    font-size: 1.8rem; }
    .product-screen_info > *:not(:last-child) {
      border-bottom: 1px solid #ccc; }
    .product-screen_info > * {
      padding: 1rem 0; }
    .product-screen_info > h2 {
      font-size: 2.2rem; }
  .product-screen_status {
    font-size: 2rem;
    padding: 1rem 5rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid #ccc;
    border-radius: 10px; }
    .product-screen_status_btn {
      grid-column: 1/-1; }

.cart {
  grid-column: center-start / center-end;
  margin: 1rem; }
  .cart > h1 {
    font-weight: bold;
    margin-top: 1rem; }

.cartScreen {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; }
  .cartScreen_cartItems {
    flex: 1 1 60%; }
    .cartScreen_cartItems_cartItem {
      padding: 1rem;
      margin-bottom: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      font-size: 1.6rem;
      display: grid;
      grid-template-columns: 2fr repeat(3, 1fr);
      grid-column-gap: 1rem;
      justify-items: flex-start;
      align-items: center;
      height: 7rem; }
      .cartScreen_cartItems_cartItem_imageSection {
        display: flex;
        align-items: center;
        gap: 0.5rem; }
      .cartScreen_cartItems_cartItem_img {
        height: 6rem;
        padding: 0.5rem;
        border: 1px solid #f0eeee; }
      .cartScreen_cartItems_cartItem_title {
        color: blue;
        cursor: pointer;
        text-decoration: underline; }
      .cartScreen_cartItems_cartItem_quantity {
        display: flex;
        gap: 1rem; }
      .cartScreen_cartItems_cartItem_button {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        transition: all .2s; }
        .cartScreen_cartItems_cartItem_button:active {
          transform: translateY(1px);
          fill: #777; }
  .cartScreen_total {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    max-height: 18rem;
    padding: 1rem;
    font-size: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .cartScreen_total_proceed {
      border-top: 2px solid #ccc;
      padding-top: 1rem; }

.disabled {
  fill: #ccc; }

.signIn {
  grid-column: center-start / center-end;
  margin: 5rem auto;
  text-align: left;
  width: 50%; }
  @media only screen and (max-width: 37.5em) {
    .signIn {
      width: 80%; } }

.form {
  font-size: 2rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem; }
  .form_input {
    padding: 1.5rem 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 1.6rem;
    cursor: pointer; }
    .form_input:focus {
      background-color: #d5eaf1; }
  .form_btn {
    align-self: flex-start; }
  .form_link a {
    color: #0b0bf8;
    cursor: pointer;
    text-decoration: underline; }

.shippingPage {
  grid-column: center-start / center-end;
  grid-row: 2/3;
  margin: 2rem 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .shippingPage {
      grid-column: full-start/full-end; } }
  .shippingPage > form, .shippingPage .heading-1 {
    margin: 1rem auto;
    width: 60%; }
    @media only screen and (max-width: 37.5em) {
      .shippingPage > form, .shippingPage .heading-1 {
        width: 100%; } }
  .shippingPage .form_shipping {
    margin-top: 2rem; }

.paymentScreen {
  grid-column: center-start / center-end;
  grid-row: 2/3;
  margin: 2rem 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .paymentScreen {
      grid-column: full-start/full-end; } }
  .paymentScreen > form, .paymentScreen .heading-1 {
    margin: 1rem auto;
    width: 60%; }
    @media only screen and (max-width: 37.5em) {
      .paymentScreen > form, .paymentScreen .heading-1 {
        width: 100%; } }
  .paymentScreen .form_shipping {
    margin-top: 2rem; }

.radio_input {
  display: flex;
  gap: 1rem; }
  .radio_input > .form_input {
    height: 2.8rem; }

.placeOrderScreen {
  grid-column: center-start / center-end;
  margin: 2rem 0;
  grid-row: 2/3; }
  @media only screen and (max-width: 37.5em) {
    .placeOrderScreen {
      grid-column: full-start/full-end;
      margin: 2rem 1rem; } }
  .placeOrderScreen > h1 {
    margin-top: 1rem; }

.order {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem; }
  .order_details {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    @media only screen and (max-width: 50em) {
      .order_details {
        width: 100%; } }
    .order_details_item {
      font-size: 1.8rem;
      padding: 2rem;
      border: 1px solid #ccc;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .order_details_item_link a {
        color: #0000EE;
        cursor: pointer;
        text-decoration: underline; }
  .order_summary {
    flex: 1;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 1.8rem; }
    .order_summary_item {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
      border-bottom: 2px solid #ccc; }

.order_item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  align-items: center;
  justify-items: center;
  margin: 1rem auto; }
  .order_item_img {
    display: flex;
    align-items: center; }
    .order_item_img > img {
      height: 6rem; }
    .order_item_img a {
      color: #0000EE;
      text-decoration: underline;
      cursor: pointer; }

.tabularPage {
  grid-column: center-start / center-end;
  margin: 2rem 0; }

.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0; }

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 2rem; }

.responsive-table th, .responsive-table td {
  padding: 12px;
  text-align: left;
  cursor: pointer; }

tr {
  transition: all .2s; }
  tr:hover {
    background-color: #999;
    color: #fff; }

.responsive-table th {
  border-bottom: 2px solid #000; }

@media (max-width: 50em) {
  .responsive-table thead {
    display: none; }
  .responsive-table th, .responsive-table td {
    border: 1px solid #ddd; }
  .responsive-table, .responsive-table tbody, .responsive-table tr, .responsive-table td {
    display: block;
    width: 100%; }
  .responsive-table tr {
    margin-bottom: 15px; }
  .responsive-table td {
    text-align: right;
    position: relative;
    border: none;
    border-bottom: 1px solid #ddd; }
  .responsive-table td::before {
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left; }
  .responsive-table td:last-child {
    border-bottom: 0; } }
